<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <button v-for="color in colors" v-bind:style="{backgroundColor:color}" v-on:Click="addBox(color)">
            {{ color }}
        </button>
        <template v-if="boxes.length==0">
            <div>
                No Box
            </div>
        </template>

        <template v-else>
            <div>
                <div v-for="(box,index) in boxes" v-bind:key="box.id" v-bind:style="{
                    position: 'relative',
                    width: '200px',
                    height: '23px',
                    borderStyle: 'solid',
                    borderWidth: '1px',
                    backgroundColor: box.color
                }">
                    {{ box.id }}.{{ box.color }}
                    <span style="position: absolute; right: 0;">
                        <button v-on:Click="delBox(index)">-</button>
                        <button v-if="index!=0" v-on:Click="upBox(index)" >△</button>
                        <button v-if="index!=boxes.length-1" v-on:Click="downBox(index)" >▽</button>
                    </span>
                </div>
            </div>
        </template>

    </div>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                lastId: 0,
                colors: [
                    'red',
                    'green',
                    'blue',
                    'pink',
                    'yellow',
                    'white'

                ],
                selectColor: '',
                boxes: [],
            },
            methods: {
                addBox: function (color) {
                    this.boxes.push({
                        id: this.lastId++,
                        color: color
                    });
                },
                delBox: function(index){
                    this.boxes.splice(index,1);
                },
                upBox: function(index){
                    let tepm = [this.boxes[index-1],this.boxes[index]];
                    this.boxes.splice(index-1,2,tepm[1],tepm[0])
                },
                downBox: function(index){
                    let tepm = [this.boxes[index],this.boxes[index+1]];
                    this.boxes.splice(index,2,tepm[1],tepm[0])
                }
            },
        });
    </script>
</body>

</html>