<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div>{{ result }} {{ count }} times</div>
        <boom-button @bomb="bomb" :is-Bomb="false" @click="clickBomb"></boom-button>
        <boom-button @bomb="bomb" :is-Bomb="true" @click="clickBomb"></boom-button>
        <boom-button @bomb="bomb" :is-Bomb="true" @click="clickBomb"></boom-button><br>
        <boom-button @bomb="bomb" :is-Bomb="false" @click="clickBomb"></boom-button>
        <boom-button @bomb="bomb" :is-Bomb="true" @click="clickBomb"></boom-button>
        <boom-button @bomb="bomb" :is-Bomb="false" @click="clickBomb"></boom-button><br>
        <boom-button @bomb="bomb" :is-Bomb="false" @click="clickBomb"></boom-button>
        <boom-button @bomb="bomb" :is-Bomb="true" @click="clickBomb"></boom-button>
        <boom-button @bomb="bomb" :is-Bomb="true" @click="clickBomb"></boom-button><br>
    </div>

    <script type="text/x-template" id="boom-button">
        <button @click = "BoomClick" style ="width:50px; height: 50px; font-size: 28px;">{{ value }}</button>
    </script>

    <script>
        Vue.component('boom-button', {
            props: {
                isBomb: Boolean
            },
            data: function () {
                return {
                    value: '-',
                    clicked: false,
                };
            },
            methods: {
                BoomClick: function () {
                    if(this.clicked)return;
                    this.clicked = true;
                    this.$emit('click')

                    if (!this.isBomb) return;
                    this.value = '*';
                    this.$emit('bomb');
                }
            },
            template: '#boom-button'

        });

        let app = new Vue({
            el: '#app',
            data: {
                result: '',
                count: 0,
            },
            methods: {
                clickBomb: function () {
                    this.count++;
                },
                bomb: function () {
                    console.log('Bomb');
                    this.result = "You lose!!"
                }
            }
        });

    </script>
</body>

</html>