<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <button v-on:Click="count++" >{{ count }}</button>
    </div>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                count: 0
            }
        })
    </script>
   
</body>

</html>